{% extends 'index.html' %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock title %}

{% block head_js %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script src="/js/responsiveslides.min.js"></script>
    {% if article and article.latex %}
        {{ article.latex }}
    {% endif %}
    {% if page and page.latex %}
        {{ page.latex }}
    {% endif %}
{% endblock %}

{% block content %}

    <header id="post-header">
        <h1>{{ article.title }}</h1>
            <div class="post-meta">
                {{ article.date.strftime('%B %d, %Y')}}
            </div>
            <div class="post-tags">
                <ul>
                    <li>tags:</li>
                {% for tag in article.tags %}
                    <li><a href="/tag/{{ tag.name }}/">{{ tag.name }}</a></li>
                {% endfor %}
                </ul>
            </div>
    </header>

    <section id="post">
        {{ article.content }}
    </section>

    <section id="applause">
    Please let me know if you liked this post by clicking the button below.
    <br><br>
    <applause-button style="width: 58px; height: 58px;"/>
    </section>


    {% include 'neighbors.html' %}

{% endblock  %}
