<section>
	<div class="portrait">
			<img src="/theme/images/go.jpg" />
	</div>
    <div class="name-cv">
        <div class="name">Grégory Operto, PhD</div>
        <div class="cv">
            <a href="/pdfs/cv.pdf"><i class="fa fa-file-pdf-o"></i> CV</a>
        </div>
    </div>
    <div class="clear"></div>
      <div class="sub-name">brain imaging | data science</div>
	<div class="contact">goperto@gmail.com</div>
	<div class="location">Barcelona, Spain</div>
</section>

<section class="tags">
{% for tag in [ ] %}
    <span class="tag"><a href="/tag/{{ tag }}/">#{{ tag }}</a></span>
{% endfor %}
</section>
